<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>boardList</title>
</head>
<body>
    <h1>Board List</h1>
    <table>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>작성 시간</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${board}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.member.username}"></td>
            <td th:text="${board.insertDate}"></td>
        </tr>
        </tbody>

    </table>
</body>
</html>